body {
  color: rgb(163, 16, 78);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
  text-align: center;
  background: linear-gradient(
    to bottom, 
    rgb(169, 214, 240),
    rgb(157, 211, 242),
    rgb(138, 201, 237),
    rgb(118, 188, 228),
    rgb(96, 171, 214),
    rgb(74, 148, 191),
    rgb(52, 119, 158),
    rgb(35, 90, 122),
    rgb(22, 67, 94),
    rgb(13, 45, 65),
    rgb(7, 28, 41),
    rgb(3, 13, 19)
  );
}

li {
  list-style-position: inside;
}
